
@{
    ViewData["Title"] = "DisplayEmployeeData";
}

<h1>DisplayEmployeeData</h1>

<h3> Employee Data</h3>
@ViewBag.emp.EmpId
<br />
@ViewBag.emp.EmpName
<br />
@ViewBag.emp.Salary
<br />


