
@{
    ViewData["Title"] = "GetEmployeeData";
}

<h1>GetEmployeeData</h1>

<form action="DisplayEmployeeData" method="post">
    <b>EmpId: </b><input type="text" name="txtEmpID" value=""/> <br />
    <b>Emp Name : </b><input type="text" name="txtEmpName" value=""/> <br />
    <b>Salary : </b> <input type="text" name="txtSalary" value=""/> <br />
    <input type ="submit" name="btnSubmit" value="Submit" />
</form>

