@{
    ViewData["Title"] = "Index";
}



<h1>Specify your preference</h1>

<form asp-action="WriteCookies" asp-controller="DataPersistance">
    <select name="setting">
        <option value="fontName">Font Name</option>
        <option value="fontSize">Font Size</option>
        <option value="color">Color</option>
    </select>
    <input type="text" name="settingValue" />
    <input type="checkbox" name="isPersistent" value="true" /> Is Persistent?
    <input type="submit" value="Write Cookie" />
</form>

<h4>@ViewBag.Message</h4>
<h4>

    <a asp-action="ReadCookies" asp-controller="DataPersistent">
        Read Cookies
    </a>
</h4>
