@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table-striped">
    <tr>
        <th>ProductId</th>
        <th>ProductName</th>
        <th>Price</th>
    </tr>

    @foreach (Product item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                </tr>
            }
</table>