
@{
    ViewData["Title"] = "ReadCookies";
}

<h1>ReadCookies</h1>

<h1>ReadCookies</h1>

<div style="font-family:'@ViewBag.FontName';
     font-size:@ViewBag.FontSize;
     color: @ViewBag.Color">
    Hello World!
</div>

